[/script/shootergame.shootergamemode]
bDisableStructurePlacementCollision=True
bAllowFlyerCarryPvE=True
MaxNumberOfPlayersInTribe=10
bPvEDisableFriendlyFire=False
bAllowCustomRecipes=True
bPassiveDefensesDamageRiderlessDinos=True
MaxAlliancesPerTribe=2
MaxTribesPerAlliance=5
